#logoLink {
  margin-left: 5%;
}

#logo {
  color: #fff;
  font-family: "Fantasy";
  margin-top: 1em;
  height: 85%;
}

#topnav {
  background: black;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-pic {
  margin-right: 1em;
  margin-top: 12%;
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

#bottomnav {
  background-color: rgb(80, 1, 80);
  overflow: hidden;
  display: flex;
}

#signInDiv {
  margin-left: 0;
  margin: 1em;
}

#signout {
  margin-top: 1.5em;
  height: 3em;
  margin-left: 8%;
  background: white;
  border-radius: 5px;
  font-weight: 600;
}

#bottomnav div{
  display: flex;
  flex-direction: row;
}

#categoryButtonDiv div{
  display: flex;
  flex-direction: column;
}

/* Style the links inside the bottom navigation bar */
#bottomnav div div a {
  float: left;
  color: #f2f2f2;
  font-weight: 500;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 17px;
}  
  

/* Change the color of links on hover */
#bottomnav div div a:hover {
  background-color: #ddd;
  color: purple;
}




#filter {
  position: absolute;
  margin-top: 0.7%;
  margin-left: 89%;
  width: 10%;
  height: 1.7em;
}