.flex-container {
    display: flex;
    background-color: rgb(251, 252, 252);
    margin-left: 11%;
    margin-right: 11%;
}

.game-container {
    display: flex;
    background-color: rgb(251, 252, 252);
    margin-left: 2%;
    margin-right: 11%;
}

#main-container {
    border: 7px solid rgb(80, 79, 79);
    border-radius: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.flex-left{
    flex:0.4;
    display:flex;
    flex-direction: column;
    /* border: 1px solid navy; */
}

.flex-right{
    flex:.6;
    flex-direction: column;
}

.small {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.flex-row {
    flex-direction: row;
    height:13em;
}

.gameImage{
    width: 30%;
    border-radius: 3px;
    border: 1px solid black;
    margin: 0.5%;
}

.infoBox{
    flex:0.7;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.faveBox{
    text-align: center;
    flex:0.3;
}

.seeAll{
    height: 2em;
    margin-top: 2.5em;
    margin-right: 7.5em;
    float:right;
    background-color: transparent;
    border: none;
    color:rgb(165, 105, 189);
    font-weight: 500;
    
}

.seeAll:hover {
    color:rgb(46, 64, 83);
    font-weight: bolder;
}

.addPad{
    display: flex;
    justify-content: space-between;
}

hr{
    margin-right: 11%;
}